.map {
  padding: 100px 12% 0 12%;
  box-sizing: border-box;
  text-align: center;
}
.map img {
  width: 100%;
  margin-top: 70px;
}
@media (max-width: 768px) {
  .map {
    padding: 50px 0 0 0;
  }
  .map h2 {
    width: 90%;
    margin: auto;
  }
}