

.frameWrapper{
    overflow-y: hidden;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}

#iframe {
    position: relative;
    height: 100%;
    flex-grow:1;
}