.reviews {
  width: auto;
  height: auto;
  background: url("../../assets/backgrounds/reviews-bg.svg") bottom no-repeat;
  background-size: cover;
  padding: 120px 10% 200px 12%;
  text-align: center;
  overflow: hidden;
}
.reviews-wrapper {
  position: relative;
}
.review {
  position: relative;
  width: 95%;
  height: auto;
  min-height: 340px;
  background: #ffffff;
  border: 1px solid rgba(28, 45, 87, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 60px 100px rgba(28, 45, 87, 0.07);
  border-radius: 14px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review h5 {
  margin: 0 0 15px 0;
}
.review p {
  margin-bottom: 35px;
}
.review-name {
  text-align: start;
  margin: 0 18px;
}
.buttonBack___1mlaL {
  position: absolute;
  bottom: -20%;
  left: 43%;
  border: 1px solid rgba(28, 45, 87, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
  font-size: 0;
  background: url("../../assets/images/prevBtn.svg") center no-repeat;
}
.buttonNext___2mOCa {
  position: absolute;
  bottom: -20%;
  right: 45.5%;
  border: 1px solid rgba(28, 45, 87, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
  font-size: 0;
  background: url("../../assets/images/nextBtn.svg") center no-repeat;
}
.slide-hidden {
  animation-name: slide-hidden;
  animation-duration: 1s;
  visibility: hidden;
  transition: visibility 1s linear;
}
@keyframes slide-hidden {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
.horizontalSlider___281Ls {
  overflow: inherit;
}
@media (max-width: 1150px) {
  .buttonBack___1mlaL {
    left: 40%;
  }
  .buttonNext___2mOCa {
    right: 42%;
  }
  .review-content {
    max-height: 280px;
    overflow: scroll;
  }
  .review {
    height: 420px;
    min-height: fit-content;
  }
}
@media (max-width: 900px) {
  .review {
    height: auto;
  }
  .buttonBack___1mlaL {
    left: 38%;
  }
  .buttonNext___2mOCa {
    right: 40%;
  }
}
@media (max-width: 768px) {
  .reviews {
    padding: 0 0 150px 0px;
    background: url("../../assets/backgrounds/reviews-bg-mobile.svg") bottom
      no-repeat;
    background-size: cover;
  }
  .reviews-wrapper {
    padding-left: 5%;
  }
  .review {
    padding: 15px;
  }
  .reviews h2 {
    margin-bottom: 50px;
  }
  .buttonBack___1mlaL {
    bottom: -80px;
    left: 42%;
  }
  .review p {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }
  .buttonNext___2mOCa {
    bottom: -80px;
    right: 39%;
  }
  .bold-gray {
    margin-top: 10px;
  }
}
@media (max-width: 560px) {
  .buttonBack___1mlaL {
    bottom: -80px;
    left: 38%;
  }
  .buttonNext___2mOCa {
    bottom: -80px;
    right: 36%;
  }
  .review-name {
    margin: 0 8px;
  }
}
@media (max-width: 420px) {
  .buttonBack___1mlaL {
    bottom: -80px;
    left: 34%;
  }
  .buttonNext___2mOCa {
    bottom: -80px;
    right: 32%;
  }
  .review img {
    width: 60px;
  }
}
