.share {
  text-align: center;
  padding: 100px 70px 55px 70px;
  background: rgba(255, 255, 255, 0.04);
}
.share-wrapper {
  max-width: 100vw !important;
  overflow-x: scroll;
}
.share-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  column-gap: 25px;
  align-items: center;
  margin-top: 10px;
}
.share-images img {
  width: 100%;
}
@media (max-width: 768px) {
  .share {
    padding: 55px 25px;
  }
  .share h2 {
    width: 90%;
    margin: auto;
  }
  .share-wrapper {
    overflow-x: unset;
  }
  .share-images {
    margin-top: 30px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
  }
}
