.share {
  text-align: center;
  padding: 100px 70px 55px 70px;
  background: rgba(255, 255, 255, 0.04);
}
.share-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
