nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 12%;
}
.nav-right {
    display: flex;
}
@media (max-width: 450px) {
    nav {
        padding: 25px;
    }
}