nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 8%;
}
.nav-right {
    display: flex;
}
@media (max-width: 768px) {
    nav {
        padding: 25px;
    }
}

.right-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.right-button-wrapper button {
    margin: auto;
}

@media (max-width: 768px) {
.right-button-wrapper{
    display: none;
}
}