.slider {
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: center;
  padding-bottom: 100px;
}
.slider h2 {
  width: 90%;
  margin: auto;
}
.slider-wrapper {
  position: relative;
}
.slider-item {
  padding: 100px 0;
  text-align: center;
  height: 100%;
}
.slider-image img {
  width: 86%;
  z-index: -1;
}
.dot-group {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.slider button {
  border: none;
  background: none;
  width: 420px;
  margin: 12px 0;
}
.slider-dot {
  background: #ffffff;
  border: 2px solid rgba(28, 45, 87, 0.1);
  box-sizing: border-box;
  border-radius: 24px;
  color: rgba(28, 45, 87, 0.5);
  padding: 12px;
  display: flex;
  align-items: center;
}
.slider-dot h5 {
  color: rgba(28, 45, 87, 0.5);
  margin: 0;
  text-align: start;
  margin-left: 35px;
}
.slider .carousel {
  width: 360px;
  margin-left: 60%;
  background: url("../../assets/backgrounds/phone.png") center no-repeat;
  overflow: hidden;
}
.slider .carousel__dot--selected {
  h5 {
    color: #1c2d57;
  }
  .slider-number {
    color: rgba(139, 64, 255, 1);
    background: linear-gradient(
      306.19deg,
      rgba(68, 110, 255, 0.1) -0.43%,
      rgba(139, 64, 255, 0.1) 39.22%,
      rgba(255, 102, 105, 0.1) 93.1%
    );
  }
}
.slider-number {
  width: 70px;
  height: 70px;
  background: #f7f9fd;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: rgba(28, 45, 87, 0.5);
  border-radius: 14px;
}
@media (max-width: 1000px) {
  .slider .carousel {
    margin-left: 57%;
  }
}
@media (max-width: 900px) {
  .slider .carousel {
    margin-left: 52%;
  }
  .slider button {
    width: 320px;
  }
}
@media (max-width: 769px) {
  .slider .carousel {
    margin: 0 2%;
    width: auto;
  }
  .dot-group {
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0%);
    flex-direction: row;
    background: linear-gradient(
      271.22deg,
      rgba(68, 110, 255, 0.1) -12.45%,
      rgba(139, 64, 255, 0.1) 37.46%,
      rgba(255, 102, 105, 0.1) 105.3%
    );
    border-radius: 20px;
    padding: 5px;
  }
  .slider button {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    margin: 0 4px;
    background: linear-gradient(
      271.22deg,
      rgba(68, 110, 255, 0.2) -12.45%,
      rgba(139, 64, 255, 0.2) 37.46%,
      rgba(255, 102, 105, 0.2) 105.3%
    );
  }
  .slider .carousel__dot--selected {
    background: linear-gradient(
      271.22deg,
      #446eff -12.45%,
      #8b40ff 37.46%,
      #ff6669 105.3%
    );
  }
  .mobile-hidden {
    animation-name: slide-hidden;
    animation-duration: 0.7s;
    visibility: hidden;
    transition: visibility 0.7s linear;
  }
  .mobile-heading {
    position: absolute;
    bottom: 3%;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #1c2d57;
  }
  .mobile-heading span {
    margin: 0 3px;
  }
  .slider-image img {
    width: 308px;
    
  }
}
@media (max-width: 400px) {
  .slider .carousel {
    width: 94vw;
    margin: 0 3vw;
    background-size: contain;
  }
  .slider-image img {
    width: 90%;
  }
}
