.join {
  position: relative;
  background: linear-gradient(
    273.23deg,
    #446eff -4.01%,
    #8b40ff 48.15%,
    #ff6669 119.02%
  );
  padding: 130px 12%;
}
.join-image {
  position: absolute;
  right: 12%;
  top: 0;
  bottom: 0;
  min-width: 500px;
  z-index: 1;
}
.join-image img {
  height: 100%;
  margin-left: 50px;
}
.join h3,
.join p {
  color: #ffffff;
  margin-top: 0;
}
.join-content {
  width: 40%;
}
.join-form {
  display: flex;
  margin-top: 50px;
}
.join-form > * {
  margin-right: 8px;
  a {
    min-width: min-content;
  }
}
.join-form .input-field {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(247, 249, 253, 0.3);
  min-width: unset;
  width: 65%;
  color: #f7f9fd;
}
.join-form ::placeholder {
  color: #f7f9fd;
}
.join-form .nav-coloredButton {
  background: #f7f9fd;
}
.join-form .nav-coloredButton a {
  color: rgba(139, 64, 255, 1);
}
@media (max-width: 1200px) {
  .join {
    padding: 80px 12%;
  }
  .join-image {
    right: 5%;
    min-width: unset;
  }
  .join-content {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .join-image {
    width: 48%;
  }
  .join-image img {
    width: 100%;
    margin-right: 25px;
  }
}
@media (max-width: 768px) {
  .join {
    padding: 70px 25px;
    text-align: center;
    box-sizing: border-box;
  }
  .join h3 {
    margin-bottom: 10px;
  }
  .join-image {
    position: static;
    width: 100%;
    height: 300px;
    background: url("../../assets/images/phone-mobile.png") center no-repeat;
    background-size: contain;
    margin-left: 0px;
  }
  .join img {
    display: none;
  }
  .join-content {
    width: 100%;
    margin-top: 60px;
  }
  .join-form {
    display: block;
    margin-top: 40px;
  }
  .join-form .input-field {
    width: 100%;
    margin-bottom: 16px;
  }
  .join .nav-coloredButton {
    width: 100%;
  }
}
