.input-field {
  width: 300px;
  background: #ffffff;
  border: 1px solid rgba(28, 45, 87, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 17px 0 17px 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: rgba(28, 45, 87, 0.5);
}
@media (max-width: 768px) {
  .input-field {
    width: 100%;
    font-size: 16px;
  }
}