.footer {
  padding: 0 12%;
}
.footer hr {
  border: 2px solid rgba(28, 45, 87, 0.1);
}
.footer-bottom,
.footer-bottom-right .nav-link {
  padding: 32px 0;
  color: rgba(28, 45, 87, 0.5);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.footer-bottom-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.footer-bottom-right .nav-link {
  margin: 0 16px;
}
.footer-bottom .icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .footer {
    position: relative;
    padding: 50px 25px;
  }
  .footer .menu-desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30%;
    row-gap: 30px;
    width: 100%;
    margin: 45px 0;
  }
  .footer .nav-hamburger img {
    display: none;
  }
  .footer .nav-hamburger {
    width: 100%;
    height: auto;
    border: none;
  }
  .footer-menu {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .footer .icons {
    position: absolute;
    top: 80px;
    right: 25px;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    align-items: flex-start !important;
  }
  .footer-bottom-right {
    width: 100%;
    display: block;
  }
  .footer-bottom-right .nav-link {
    margin: 0 20% 0 0;
  }
  .footer-links {
    width: 100%;
    display: flex;
  }
}
