button {
    background: linear-gradient(271.22deg, #446EFF -12.45%, #8B40FF 37.46%, #FF6669 105.3%);
    border-radius: 12px;
    padding: 19px 22px;
    border: none;
}
.btn-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}