@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
$color-primary: rgba(28, 45, 87, 1);
$color-accent: rgba(28, 45, 87, 0.5);

html { font-family: "Inter", "system-ui"; }
.fullScreen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}
h1 { 
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: $color-primary;
}
h2 { 
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: $color-primary;
}
h3 { 
  font-size: 32px;
  line-height: 44px;
  color: $color-primary;
}
h4 { 
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: $color-accent;
}
h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: $color-primary;
}
p {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: $color-accent;
}
.bold-small {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: $color-primary;
}
.bold-gray {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: $color-accent;
}
.colored-text {
  width: fit-content;
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.06em;
  background: -webkit-linear-gradient(
    (220.22deg, #446eff -12.45%, #8b40ff 37.46%, #ff6669 105.3%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.web-big {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: $color-accent;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-visible {
  display:block;
}
ul {
  list-style: none;
  padding: 0;
}
@media (max-width: 768px) {
  .desktop-visible {
    display:none;
  }
  h1 { 
    font-size: 30px;
    line-height: 40px;
  }
  h2 {
    font-size: 26px;
    line-height: 40px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
  h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
  .bold-small {
    font-size: 12px;
    line-height: 10px;
  }
  .bold-gray {
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
  }
}